body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    font-size: 20px;
}
h1{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 5px solid red;
    font-size:16px;
}

a{
    color:cyan;
    font: size 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: darkcyan;
    font-weight: bold;
}
a:hover{
    color:green;
}
figcaption {
    display: block;
  }