body{
    background-color: rgb(163, 163, 219);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:25px;
    color: midnightblue;
}
h1{
    color: rgb(252, 9, 9);
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-bottom: 5px solid red;
}
h2{
    color: blue;
    font-size:20px;
    font-family: Arial, Helvetica, sans-serif;
}