.header {
    padding: 100px;
    text-align: center;
    background: #3c74db;
    color: white;
    font-size: 30px;
    width:1676px;
}
.linkbox{
    float:left;
    padding:60px;
    font-size:30px;
    background-color:rgb(211, 201, 59);
    min-height: 400px;
    width:250px;
    flex-wrap:wrap;
    
}
.centerbox{
    float:left;
    background-color: lightcoral;
    padding:60px;
    min-height: 400px;
    width:1385px;
    font-size:30px;
    
}
.footer{
  position: fixed;
  padding: 50px;
  font-size:30px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:cyan;
  color: black;
  text-align: center;
}