body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: cyan
}
h1{
    color:blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    

}
p{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    color:blue rgb(17,17,216);
}
h1.warning, note{
    color: green;
    background-color: rgb(230, 213, 213);
}
#note1{
    color:rgb(20, 24, 24)
}
.comment{
    border: 4px solid #666;
    padding: 5px;
    background-color: rgb(201, 201, 136)
}